<h1 class="text-center mt-4">Enter a product</h1>
{{!-- <form id="productsForm" action="/" method="post" class="container mt-5 col-2">
  <label class="col">Title</label>
  <input name="title" type="text" class="col" />
  <label class="col mt-2">Price</label>
  <input name="price" type="number" step="0.01"  class="col" />
  <label class="col mt-2">URL Image</label>
  <input name="pImg" type="url"  class="col" />
  <input type="submit" class="btn btn-success mt-4 col" />
  <a href="./products" class="btn">Product list</a>
</form> --}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<form id="productsForm" action="/" method="post" style="margin-right: 15%; margin-left: 15%; background-color:#E9DAC1; margin-top: 10%;">
        <div class="form-group">
            <label>title</label>
            <input name="title" type="text" class="form-control" placeholder="Enter product" style="background-color: #F7ECDE;">
            
        </div>
        <div class="form-group">
            <label>price</label>
            <input name="price" type="number" class="form-control"  placeholder="Enter price"
                style="background-color: #F7ECDE;">
        </div>
        <div class="form-group">
            <label>URL img</label>
            <input name="pImg" type="url" class="form-control" placeholder="Link of image"
                style="background-color: #F7ECDE;">
        </div>
       
        <input type="submit">
   
    </form>
    <a href="./products"   style="background-color: #F7ECDE; color: black; padding: 3%; align-items: center; margin: 45%;" >List</a>